#transactions-container {
    padding: 3.2rem 1.6rem 0;
    border-top-left-radius: 3.2rem;
    border-top-right-radius: 3.2rem;
    border: 1px solid #EBEBEB;
    margin-bottom: 6.5rem;

    h1 {
        margin-bottom: 2rem;
    }
}
